.album {
  background: rgba(34, 34, 34, 0.9);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.album-title {
  color: rgb(17, 255, 0);
}

@media screen and (max-width: 1400px) {
  .album {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 1200px) {
  .album {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  img {
    width: 200px;
    height: 200px;
  }
}