.disclaimer {
  background: rgba(34, 34, 34, 0.9);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 30px;
  padding-right: 30px;
  display: none;
}

h4 {
  color: white;
}

@media screen and (max-width: 800px) {
  .disclaimer {
    display: inline-block
  }
}