.downfall {
  background: rgba(109, 109, 109, 0.7);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

@media screen and (max-width: 1400px) {
  .downfall {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 1200px) {
  .downfall {
    margin-left: 15%;
    margin-right: 15%;
  }
}

p {
  font-family: "Roboto Mono";
  font-size: 24px;
  color: rgba(58, 255, 44, 0.7);
}