.footer {
  background: rgba(34, 34, 34, 0.9);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  bottom: 0;
  margin-bottom: 0px;
}

a {
  color: white;
  font-size: 24px;
}

.footer-title {
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  .footer-title {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
}