h1 {
  font-family: "Roboto Mono";
  font-size: 48px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.rainbow-text {
  font-family: "Roboto Mono";
  display: inline-block;
  padding-top: 0px;
  font-size: 48px;
  width: 150px;
}

.rainbow-text p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
  font-size: 48px;
}

@media screen and (max-width: 1580px) {
  h1 {
    font-size: 36px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .rainbow-text {
    font-size: 36px;
    width: 250px
  }
  p {
    font-size: 36px;
  }
}

@media screen and (max-width: 1250px) {
  h1 {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .rainbow-text {
    font-size: 30px;
    width: 200px
  }
  p {
    font-size: 30px;
  }
}

.header {
  background: rgba(34, 34, 34, 0.9);
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.icon:hover {
  opacity: .8;
}

@media screen and (max-width: 800px) {
  .icons {
    width: 30%;
  }

  h1 {
    margin-right: 5px;
    margin-left: 5px;
  }
}