h1 {
  font-family: "Roboto Mono";
  font-size: 48px;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.rainbow-text {
  font-family: "Roboto Mono";
  display: inline-block;
  padding-top: 25px;
  font-size: 48px;
  width: 325px;
}

p {
  margin-top: 0px;
  color: white;
  font-size: 48px;
}

.header {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.icon:hover {
  opacity: .8;
}