.tools {
  background: rgba(34, 34, 34, 0.9);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 75px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

h2 {
  font-family: "Roboto Mono";
  font-size: 24px;
  color: white;
}

p {
  font-family: "Roboto Mono";
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 1400px) {
  .tools {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 1200px) {
  .tools {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 800px) {
  .strandberg {
    width: 50%;
    height: 300px;
  }

  .ibanez {
    width: 25%;
    height: 300px;
  }
}