.tools {
  background: rgba(109, 109, 109, 0.8);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  margin-left: 30%;
  margin-right: 30%;
  padding-bottom: 30px;
}

h2 {
  font-family: "Roboto Mono";
  font-size: 24px;
  color: white;
}

p {
  font-family: "Roboto Mono";
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 1400px) {
  .tools {
    margin-left: 22%;
    margin-right: 22%;
  }
}

@media screen and (max-width: 1200px) {
  .tools {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 50%;
    height: 300px;
  }
}